&PS3D

 field_file              = 'beltrami_16x16x16.nc'       ! input field file

 viscosity%nnu = 3
 viscosity%prediss_interior = 30
 viscosity%prediss_boundary = 50

 !
 ! output info
 !
 output%field_freq         = 0.1             ![s] write after these many seconds to the field NetCDF file
 output%write_fields       = .true.          ! enable / disable field dump
 output%overwrite          = .true.          ! replace existing NetCDF files
 output%basename           = 'beltrami_16'   ! NetCDF base name

 !
 ! stepper info
 !
 time%limit              = 100              ! time limit (s)
 time%alpha              = 0.1              ! scaling factor for the strain and buoyancy gradient time step
 time%precise_stop       = .false.          ! time limit exact
/
