&PS3D
 field_file              = 'beltrami_32x32x32.nc'       ! input field file

 vor_visc%nnu = 3
 vor_visc%prediss = 20.0
 vor_visc%pretype = 'vorch'
 vor_visc%length_scale = 'Kolmogorov'

 time_stepper = 'cn2'

 filtering = 'Hou & Li'

 !
 ! output info
 !
 output%field_freq         = 1.0   ! write after these many time units to the NetCDF file
 output%write_fields       = .false.              ! enable / disable field dump
 output%overwrite          = .true.               ! replace existing NetCDF files
 output%basename           = 'beltrami_32_pred20' ! NetCDF base name

 !
 ! stepper info
 !
 time%limit              = 100.0     ! time limit (s)
 time%alpha              = 0.1       ! scaling factor for the strain and buoyancy gradient time step
 time%precise_stop       = .false.   ! time limit exact
/
