&PS3D
 field_file              = 'rt_64x64x64.nc'       ! input field file

 vor_visc%nnu = 3
 vor_visc%prediss = 30.0
 vor_visc%pretype = 'vorch'
 vor_visc%length_scale = 'Kolmogorov'

 time_stepper = 'cn2'

 filtering = 'Hou & Li'

 !
 ! output info
 !
 output%field_freq         = 1.0   ! write after these many time units to the NetCDF file
 output%field_stats_freq   = 0.01    ! write after these many time units to the field stats NetCDF file
 output%write_fields       = .true.              ! enable / disable field dump
 output%write_field_stats  = .true.    ! enable / disable field statistics
 output%overwrite          = .true.               ! replace existing NetCDF files
 output%basename           = 'rt' ! NetCDF base name

 !
 ! stepper info
 !
 time%limit              = 10.0     ! time limit (s)
 time%alpha              = 0.1       ! scaling factor for the strain and buoyancy gradient time step
 time%precise_stop       = .false.   ! time limit exact
/
