&PS3D
 field_file              = 'rt_cheby_32x32x16.nc'       ! input field file

 vor_visc%nnu = 3
 vor_visc%prediss = 30.0
 vor_visc%pretype = 'vorch'
 vor_visc%length_scale = 'Kolmogorov'
 vor_visc%roll_mean_win_size = 500

 buoy_visc%nnu = 3
 buoy_visc%prediss = 30.0
 buoy_visc%pretype = 'vorch'
 buoy_visc%length_scale = 'Kolmogorov'
 buoy_visc%roll_mean_win_size = 500

 time_stepper = 'cn2'

 filtering = '2/3 rule' ! 'Hou & Li'

 l_buoyancy_anomaly = .false.

 !
 ! output info
 !
 output%field_freq         = 1.0   ! write after these many time units to the NetCDF file
 output%field_stats_freq   = 0.01    ! write after these many time units to the field stats NetCDF file
 output%write_fields       = .true.              ! enable / disable field dump
 output%write_field_stats  = .true.    ! enable / disable field statistics
 output%overwrite          = .true.               ! replace existing NetCDF files
 output%basename           = 'rt_cheby' ! NetCDF base name

 !
 ! stepper info
 !
 time%limit              = 10.0     ! time limit (s)
 time%alpha              = 0.1       ! scaling factor for the strain and buoyancy gradient time step
 time%precise_stop       = .false.   ! time limit exact
/
